<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newUser" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Login Name</ion-label>
              <ion-input type="text" (ionChange)="verifyLogin()" name="id" formControlName="id"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Display Name</ion-label>
              <ion-input type="text" name="displayName" formControlName="displayName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <p *ngIf="!this.validEmail" style="color: red;">
                Email format is invalid.
              </p>
              <p *ngIf="!this.validLogin" style="color: red;">
                Usernames cannot contain the '@' character.
              </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">User Role</ion-label>
              <ion-select name="displayName" formControlName="role">
                <ion-select-option value="admin">Admin</ion-select-option>
                <ion-select-option value="secretary">Secretary</ion-select-option>
                <ion-select-option value="salesman">Salesman</ion-select-option>
                <ion-select-option value="driver">Driver</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" name="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Full Email?</ion-label>
              <ion-checkbox name="fullEmail" (ionChange)="verifyLogin()" formControlName="fullEmail"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-button class="ion-float-right" type="submit" [disabled]="!this.newUser.get('id').valid || !this.validLogin || !this.validEmail">Add User</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>
