<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button [routerLink]="['/', 'viewticket', 'view', ticketNumber]"></ion-back-button>
        </ion-buttons>
        <ion-title>Edit Ticket</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoaded == false">
    <p>Loading...</p>
  </div>
  <div *ngIf="isLoaded==true">
    <form [formGroup]="ticket" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Ticket # </ion-label>
              <ion-input type="text" name="ticketNo" formControlName="ticketNo" value="{{ ticket.get('ticketNo').value }}"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">AFE# </ion-label>
              <ion-input type="text" name="afe" formControlName="afe" value="{{ ticket.get('afe').value }}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col fixed='true'>
            <ion-item>
              <ion-label position="floating">Customer</ion-label>
              <ionic-selectable [canSearch]="true" (onChange)="updateCustomerFields($event)" name="customer" formControlName="customer" 
                                [items]="customers" itemValueField="name" itemTextField="name" [shouldStoreItemValue]="true"></ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Well</ion-label>
              <ion-input type="text" name="well" formControlName="well" value="{{ ticket.get('well').value }}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="toggleFieldRep()" class="ion-float-left" style="margin-top: 16px;" size="small">
              <ion-icon name="shuffle" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-item *ngIf="fieldRepInputType == true">
              <ion-label position="floating">Field Rep</ion-label>
              <ionic-selectable [canSearch]="true" (onChange)="setSelectedFieldRepEmail()" name="fieldrep" formControlName="fieldrep" [items]="fieldReps" 
                                itemValueField="name" itemTextField="name" [shouldStoreItemValue]="true"></ionic-selectable>
            </ion-item>
            <ion-item *ngIf="fieldRepInputType == false">
              <ion-label position="floating">Field Rep</ion-label>
              <ion-input type="text" name="fieldrep" (ionChange)="checkFieldRep()" formControlName="fieldrep"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Field Rep Email</ion-label>
              <ion-input type="text" name="email" value="{{ ticket.get('email').value }}" formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <h3>Order Items</h3>
          </ion-col>
        </ion-row>

        <div formArrayName="orders">
          <ion-row *ngFor="let item of getOrders.controls; let itemIndex=index" [formGroupName]="itemIndex">       
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Item</ion-label>
                <ion-input value="{{ item.get('item').value }}" disabled></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Quantity</ion-label>
                  <ion-input type="number" (ionChange)="updateCost(itemIndex)" formControlName="quantity"></ion-input>
                </ion-item>
              </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col>
            <ion-button class="ion-float-right" [disabled]="!validFieldRep || !this.ticket.get('fieldrep').value" type="submit">Update Ticket</ion-button>
            <div >
              <p *ngIf="!validFieldRep" style="color: red;">
                Field Rep is invalid.
              </p>
              <p *ngIf="!this.ticket.get('fieldrep').value" style="color: red;">
                Field Rep required.
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
