<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button slot="start" routerLink="/home">
            <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>View Ticket</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="loaded === false">
    <ion-row>
      <ion-col size="6" offset-sm="3">
        <p>Loading...</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="loaded === true">
    <ion-row *ngIf="tickets.length === 0">
      <ion-col size="6" offset-sm="3">
        <p>There are no uncompleted tickets.</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="tickets.length > 0">
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-list>
          <ion-item *ngFor="let ticket of tickets" [routerLink]="['/', 'viewticket', 'view', ticket.ticketNo]" detail>
            <ion-label>
              <h2>{{ ticket.ticketNo}}</h2>
              <p>{{ ticket.well }}</p>
              <p>{{ ticket.customer }}</p>
              <p>{{ ticket.county }}</p>
              <p>{{ ticket.date }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>