.user-prompt {
    margin: 16px 0 0 0; 
    padding: 0 0 0 16px;
}

@media (max-width: 576px) {
    .list-header {
        border-style: solid;
        border-color: black;
        border-width: 1px;
    }
    .list-body {
        border-style: solid;
        border-color: black;
        border-width: 0px 1px 1px 1px;
    }
}
