<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>New Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <form [formGroup]="newTicket" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row *ngIf="!this.newTicket.get('customer').touched">
        <ion-col>
          <p class="user-prompt" style="color: green;">
            Select a customer to get started.
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col fixed='true'>
          <ion-item>
            <ion-label position="floating">Ticket #</ion-label>
            <ion-input type="text" name="ticketNo" formControlName="ticketNo"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col fixed='true'>
          <ion-item>
            <ion-label position="floating">AFE#</ion-label>
            <ion-input type="text" name="afe" formControlName="afe"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col fixed='true'>
          <ion-item>
            <ion-label position="floating">Customer</ion-label>
            <ionic-selectable [canSearch]="true" (onChange)="updateCustomerFields()" name="customer" formControlName="customer" 
                              [items]="customers" itemValueField="name" itemTextField="name" [shouldStoreItemValue]="true"></ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Well</ion-label>
            <ion-input type="text" name="well" formControlName="well"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col fixed='true'>
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" name="address" formControlName="address"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">County</ion-label>
            <ion-select (ionChange)="updateCountyFields()" name="county" formControlName="county" interface='popover'>
              <ion-select-option *ngFor="let county of counties" value="{{county.name}}">{{ county.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col fixed='true'>
          <ion-item>
            <ion-label position="floating">Field Rep</ion-label>
            <ion-input type="text" name="fieldrep" formControlName="fieldrep" interface='popover'></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">State</ion-label>
            <ion-input type="text" name="state" formControlName="state"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Sold By</ion-label>
            <ion-input type="text" name="seller " formControlName="seller"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
              <ion-label position="floating">YYYY MM DD</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date" name="date" formControlName="date"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Truck No.</ion-label>
            <ion-select multiple="true" name="truck" (ionChange)="checkTruckType()" formControlName="truck">
              <ion-select-option *ngFor="let truck of trucks" value="{{truck.vehicleno}}">{{ truck.vehicleno }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Trailer No.</ion-label>
            <ion-select name="trailer" formControlName="trailer" interface='popover'>
              <ion-select-option *ngFor="let trailer of trailers | async" value="{{trailer.vehicleno}}">{{ trailer.vehicleno }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Directions</ion-label>
            <ion-textarea type="text" name="directions" formControlName="directions" rows='10'></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Special Directions</ion-label>
            <ion-textarea type="text" name="specialdirections" formControlName="specialdirections" rows='5'></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h3>Order Items</h3>
        </ion-col>
      </ion-row>

      <ion-row class="list-header">
        <ion-col size-md="3.5" size-xs="6">
          <ion-item lines="none">
            <ion-label>
              Item
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-md="2.5" size-xs="6">
          <ion-item lines="none">
            <ion-label>
              Quantity
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-md="2.5" size-xs="6">
          <ion-item lines="none">
            <ion-label>
              Per Unit Cost
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" size-xs="6">
          <ion-item lines="none">
            <ion-label>
              <ion-button (click)="swapAllOrderVariants()" [disabled]="this.getOrders.length <= 1">COG</ion-button>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-md="1.5" offset-md="0" size-xs="6" offset-xs="6">
          <ion-item lines="none">
            <ion-label>
              Remove
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <div formArrayName="orders">
        <ion-row class="list-body" *ngFor="let item of getOrders.controls; let itemIndex=index" [formGroupName]="itemIndex">         
          <ion-col size-md="3.5" size-xs="6">
            <ion-item>
              <ionic-selectable [canSearch]="true" (onChange)="updateItem(itemIndex)" name="item" formControlName="item" 
                              [items]="products" itemValueField="code" itemTextField="code" [shouldStoreItemValue]="true">
                <ng-template ionicSelectableItemTemplate let-product="item" let-isPortSelected="isItemSelected">
                  {{product.code}} ({{product.description}})
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col size-md="2.5" size-xs="6">
            <ion-item>
              <ion-input type="number" (ionChange)="updateItemCost(itemIndex)" formControlName="quantity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-md="2.5" size-xs="6">
            <ion-item>
              <ion-input type="number" (ionChange)="updateItemCost(itemIndex)" formControlName="perUnit" value="{{ this.getOrders.controls[itemIndex].value.perUnit }}"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-md="2" size-xs="6">
            <ion-item>
              <ion-checkbox (ionChange)="swapVariant(itemIndex)" formControlName="cog" value="{{ this.getOrders.controls[itemIndex].value.cog }}"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size-md="1.5" offset-lg="0" size-xs="1" offset-xs="9">
            <ion-button color="danger" (click)="deleteOrder(itemIndex)"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-col> 
        </ion-row>
      
        <ion-row>
          <ion-col>
            <ion-button #submitButton type="submit" class="ion-float-right" [disabled]="!this.newTicket.get('customer').valid || !this.newTicket.get('county').valid">Submit Ticket</ion-button>
            <ion-button (click)="addOrder()" class="ion-float-right">Add Item</ion-button>
            <div *ngIf="!this.newTicket.get('customer').valid && this.newTicket.get('customer').touched">
              <p class="user-prompt" style="color: red;">
                A customer <u>must</u> be selected to create a new ticket.
              </p>
            </div>
            <div *ngIf="!this.newTicket.get('county').valid && this.newTicket.get('county').touched">
              <p class="user-prompt" style="color: red;">
                A county <u>must</u> be selected to create a new ticket.
              </p>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <!-- <pre>{{ this.newTicket.value | json }}</pre> -->
    </ion-grid>
  </form>

</ion-content>
