<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="!editMode">Add New Product</span>
      <span *ngIf="editMode">Edit Existing Product</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!editMode">
    <form [formGroup]="newProduct" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Code</ion-label>
              <ion-input type="text" name="code" formControlName="code"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Provider Code</ion-label>
              <ion-input type="text" name="providercode" formControlName="providercode"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Provider</ion-label>
              <ion-input type="text" name="Provider" formControlName="provider"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-input type="text" name="description" formControlName="description"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Details</ion-label>
              <ion-input type="text" name="Details" formControlName="details"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Cost Per Unit</ion-label>
              <ion-input type="number" name="cpu" formControlName="costperunit"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Unit</ion-label>
              <ion-input type="text" name="unit" formControlName="unit"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Multiplier</ion-label>
              <ion-input type="number" name="multiplier" formControlName="multiplier"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Type</ion-label>
              <ion-select name="type" (ionChange)="typeCheck()" formControlName="type" interface='popover'>
                <ion-select-option value="nefe">NEFE Acid</ion-select-option>
                <ion-select-option value="additive">Additive</ion-select-option>
                <ion-select-option value="transport">Transport</ion-select-option>
                <ion-select-option value="killtruck">Killtruck</ion-select-option>
                <ion-select-option value="nonnefe">Non-NEFE/Misc</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Price Per Unit</ion-label>
              <ion-input type="number" name="ppu" formControlName="priceperunit"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Retail Price</ion-label>
              <ion-input type="number" name="retailprice" formControlName="retailprice"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Markup</ion-label>
              <ion-input type="number" name="markup" formControlName="markup"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row *ngIf="this.newProduct.get('type').value === 'additive'">
          <ion-col size="4" offset="4">
            <ion-item>
              <ion-label>Per Thousand</ion-label>
              <ion-input class="ion-float-right" type="number" name="perthousand" formControlName="perThousand"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>COG?</ion-label>
              <ion-checkbox slot="end" formControlName="cog"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="this.newProduct.get('type').value !== 'additive'">
          <ion-col size="4" offset="8">
            <ion-item>
              <ion-label>COG?</ion-label>
              <ion-checkbox slot="end" formControlName="cog"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="ion-float-right" type="submit">Submit</ion-button>
            <ion-button class="ion-float-right" (click)="changeMode()">Edit Product</ion-button>
            <ion-button class="ion-float-right" (click)="reset()">Reset</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <pre>{{ this.newProduct.value | json }}</pre> -->
    </form>
  </div>
  <div *ngIf="editMode">
    <form [formGroup]="editProduct" (ngSubmit)="onUpdate()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Code</ion-label>
              <ionic-selectable [canSearch]="true" (onChange)="updateFields()" name="code" formControlName="code" 
              [items]="products | async" itemValueField="code" itemTextField="code" [shouldStoreItemValue]="true"
              groupValueField="type" groupTextField="type">
                <ng-template ionicSelectableItemTemplate let-product="item" let-isPortSelected="isItemSelected">
                {{product.code}} ({{product.description}})
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Provider Code</ion-label>
              <ion-input type="text" name="providercode" formControlName="providercode"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Provider</ion-label>
              <ion-input type="text" name="Provider" formControlName="provider"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-input type="text" name="description" formControlName="description"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Details</ion-label>
              <ion-input type="text" name="Details" formControlName="details"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Cost Per Unit</ion-label>
              <ion-input type="number" name="cpu" formControlName="costperunit"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Unit</ion-label>
              <ion-input type="text" name="unit" formControlName="unit"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Multiplier</ion-label>
              <ion-input type="number" name="multiplier" formControlName="multiplier"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Type</ion-label>
              <ion-select name="type" (ionChange)="typeCheck()" formControlName="type" interface='popover'>
                <ion-select-option value="nefe">NEFE Acid</ion-select-option>
                <ion-select-option value="additive">Additive</ion-select-option>
                <ion-select-option value="transport">Transport</ion-select-option>
                <ion-select-option value="killtruck">Killtruck</ion-select-option>
                <ion-select-option value="nonnefe">Non-NEFE/Misc</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Price Per Unit</ion-label>
              <ion-input type="number" name="ppu" formControlName="priceperunit"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Retail Price</ion-label>
              <ion-input type="number" name="retailprice" formControlName="retailprice"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Markup</ion-label>
              <ion-input type="number" name="markup" formControlName="markup"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row *ngIf="this.editProduct.get('type').value === 'additive'">
          <ion-col size="4" offset="4">
            <ion-item>
              <ion-label>Per Thousand</ion-label>
              <ion-input class="ion-float-right" type="number" name="perThousand" formControlName="perThousand"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>COG?</ion-label>
              <ion-checkbox slot="end" (ionChange)='updateFields()' formControlName="cog"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="this.editProduct.get('type').value !== 'additive'">
          <ion-col size="4" offset="8">
            <ion-item>
              <ion-label>COG?</ion-label>
              <ion-checkbox slot="end" (ionChange)='updateFields()' formControlName="cog"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-button class="ion-float-left" color="danger" (click)="delete()">Delete</ion-button>
            <ion-button class="ion-float-right" type="submit" [disabled]='!validItem'>Update</ion-button>
            <ion-button class="ion-float-right" (click)="changeMode()">Add Product</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <pre>{{ this.editProduct.value | json }}</pre> -->
    </form>
  </div>
</ion-content>
