<ion-header>
  <ion-toolbar>
    <ion-title>J2 Mobile Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <img class="j2icon" src="https://img1.wsimg.com/isteam/ip/76b3758c-2892-46ef-82bd-095f1bc348be/logo/6a319532-d100-4599-8f60-0d0c46797bb6.jpg/:/rs=h:351/qt=q:95"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="auth.user$ | async as user; else login">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [routerLink]="['/','home']">Continue as {{ user.displayName }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
          <ion-button (click)="auth.logout()">Not {{ user.displayName }}?</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template  #login>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <form [formGroup]="oldUser" (ngSubmit)="onLogin()">
            <ion-card>
              <ion-item>
                <ion-label position="floating">ID</ion-label>
                <ion-input type="text" name="id" formControlName="id"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" name="password" formControlName="password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-button class="ion-float-right" type="submit">Login</ion-button>
              </ion-item>
            </ion-card>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>