<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="!editMode">Add New Vehicle</span>
      <span *ngIf="editMode">Edit Existing Vehicle</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div *ngIf="!editMode">
      <form [formGroup]="newVehicle" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Vehicle No.</ion-label>
                <ion-input type="text" name="vehicleno" formControlName="vehicleno"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Type</ion-label>
                <ion-select name="type" formControlName="type" interface='popover'>
                  <ion-select-option value="truck">Truck</ion-select-option>
                  <ion-select-option value="trailer">Trailer</ion-select-option>
                  <ion-select-option value="killtruck">Killtruck</ion-select-option>
                  <ion-select-option value="datavan">Datavan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="ion-float-right" type="submit">Submit</ion-button>
              <ion-button class="ion-float-right" (click)="changeMode()">Edit</ion-button>
              <ion-button class="ion-float-right" (click)="reset()">Reset</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <pre>{{ this.newVehicle.value | json }}</pre> -->
      </form>
    </div>
    <div *ngIf="editMode">
      <form [formGroup]="editVehicle" (ngSubmit)="onUpdate()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Vehicle No.</ion-label>
                <ionic-selectable [canSearch]="true" (onChange)="updateFields()" name="vehicleno" formControlName="vehicleno" 
                [items]="vehicles | async" itemValueField="vehicleno" itemTextField="vehicleno" [shouldStoreItemValue]="true"
                groupValueField="type" groupTextField="type">
                  <ng-template ionicSelectableItemTemplate let-vehicle="item" let-isPortSelected="isItemSelected">
                  {{vehicle.vehicleno}} ({{vehicle.type}})
                  </ng-template>
                </ionic-selectable>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Type</ion-label>
                <ion-select name="type" formControlName="type" interface='popover'>
                  <ion-select-option value="truck">Truck</ion-select-option>
                  <ion-select-option value="trailer">Trailer</ion-select-option>
                  <ion-select-option value="killtruck">Killtruck</ion-select-option>
                  <ion-select-option value="datavan">Datavan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
              <ion-button class="ion-float-left" color="danger" (click)="delete()">Delete</ion-button>
              <ion-button class="ion-float-right" type="submit">Update</ion-button>
              <ion-button class="ion-float-right" (click)="changeMode()">Add</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <pre>{{ this.editVehicle.value | json }}</pre> -->
      </form>
    </div>  
  </ion-card>
</ion-content>
