<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/', 'viewticket', 'view', ticketNumber]">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Admin Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div *ngIf="isLoaded == false">
    <p>Loading...</p>
  </div>
  <div *ngIf="isLoaded==true">
    <form [formGroup]="ticket" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col fixed='true'>
            <ion-item>
              <ion-label position="floating">Ticket #</ion-label>
              <ion-input type="text" name="ticketNo" formControlName="ticketNo"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col fixed='true'>
            <ion-item>
              <ion-label position="floating">AFE#</ion-label>
              <ion-input type="text" name="afe" formControlName="afe"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col fixed='true'>
            <ion-item>
              <ion-label>Approved</ion-label>
              <ion-checkbox slot="end" name="invoice" formControlName="invoice" value="ticket.invoice"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col fixed='true'>
            <ion-item>
              <ion-label>Completed</ion-label>
              <ion-checkbox slot="end" name="completed" formControlName="completed" value="ticket.completed"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col fixed='true'>
            <ion-item>
              <ion-label position="floating">Customer</ion-label>
              <ionic-selectable [canSearch]="true" (onChange)="updateCustomerFields($event)" name="customer" formControlName="customer" 
                                [items]="customers" itemValueField="name" itemTextField="name" [shouldStoreItemValue]="true"></ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Well</ion-label>
              <ion-input type="text" name="well" formControlName="well"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col fixed='true'>
            <ion-item>
              <ion-label position="floating">Address</ion-label>
              <ion-input type="text" name="address" formControlName="address"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">County</ion-label>
              <ionic-selectable [canSearch]="true" (ionChange)="updateCountyFields()" name="county" formControlName="county" 
                                [items]="counties" itemValueField="name" itemTextField="name" [shouldStoreItemValue]="true"></ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Discount</ion-label>
              <ion-input type="number" name="discount" formControlName="discount"></ion-input>
            </ion-item>
          </ion-col>          
          <ion-col>
            <ion-item>
              <ion-label position="floating">State</ion-label>
              <ion-input type="text" name="state" formControlName="state"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Sold By</ion-label>
              <ion-input type="text" name="seller " formControlName="seller"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
                <ion-label position="floating">YYYY MM DD</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date" name="date" formControlName="date"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Truck No.</ion-label>
              <ionic-selectable [canSearch]="true" (onChange)="checkTruckType()" name="truck" formControlName="truck" [items]="trucks" 
                                itemValueField="vehicleno" itemTextField="vehicleno" [shouldStoreItemValue]="true"></ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Trailer No.</ion-label>
              <ionic-selectable [canSearch]="true" name="trailer" formControlName="trailer" [items]="trailers" 
                                itemValueField="vehicleno" itemTextField="vehicleno" [shouldStoreItemValue]="true"></ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-button (click)="toggleFieldRep()" class="ion-float-left" style="margin-top: 16px;" size="small">
              <ion-icon name="shuffle" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-item *ngIf="fieldRepInputType == true">
              <ion-label position="floating">Field Rep</ion-label>
              <ionic-selectable [canSearch]="true" (onChange)="setSelectedFieldRepEmail()" name="fieldrep" formControlName="fieldrep" [items]="fieldReps" 
                                itemValueField="name" itemTextField="name" [shouldStoreItemValue]="true"></ionic-selectable>
            </ion-item>
            <ion-item *ngIf="fieldRepInputType == false">
              <ion-label position="floating">Field Rep</ion-label>
              <ion-input type="text" name="fieldrep" (ionChange)="checkFieldRep()" formControlName="fieldrep"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Field Rep Email</ion-label>
              <ion-input type="text" name="email" value="{{ ticket.get('email').value }}" formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Directions</ion-label>
              <ion-textarea type="text" name="directions" formControlName="directions" rows='10'></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Special Directions</ion-label>
              <ion-textarea type="text" name="specialdirections" formControlName="specialdirections" rows='5'></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <h3>Order Items</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4" offset="1">
            <ion-item lines="none">
              <ion-label>
                Item
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="2.5">
            <ion-item lines="none">
              <ion-label>
                Quantity
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="2.5">
            <ion-item lines="none">
              <ion-label>
                Per Unit Cost
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item lines="none">
              <ion-label>
                <ion-button (click)="swapAllOrderVariants()" [disabled]="this.getOrders.length <= 1">COG</ion-button>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <div formArrayName="orders">
          <ion-row *ngFor="let item of getOrders.controls; let itemIndex=index" [formGroupName]="itemIndex">
            <ion-col size="1">
              <ion-button color="danger" (click)="deleteOrder(itemIndex)"><ion-icon name="trash"></ion-icon></ion-button>
            </ion-col>          
            <ion-col size="4">
              <ion-item>
                <ionic-selectable [canSearch]="true" (onChange)="updateItem(itemIndex)" name="item" formControlName="item" 
                                [items]="products" itemValueField="code" itemTextField="code" [shouldStoreItemValue]="true">
                  <ng-template ionicSelectableItemTemplate let-product="item" let-isPortSelected="isItemSelected">
                    {{product.code}} ({{product.description}})
                  </ng-template>
                </ionic-selectable>
              </ion-item>
            </ion-col>
            <ion-col size="2.5">
              <ion-item>
                <ion-input type="number" (ionBlur)="updateItemCost(itemIndex)" formControlName="quantity"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="2.5">
              <ion-item>
                <ion-input type="number" (ionChange)="updateItemCost(itemIndex)" formControlName="perUnit" value="{{ this.getOrders.controls[itemIndex].value.perUnit }}"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-checkbox (ionChange)="swapVariant(itemIndex)" formControlName="cog" value="{{ this.getOrders.controls[itemIndex].value.cog }}"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col>
            <div #container class="picker">
              <ion-img role="button" class="stamp" [src]="this.ticket.get('stamp').value" *ngIf="this.ticket.get('stamp').value" height="720" width="1080"></ion-img>
              <ion-img class="signature" [src]="this.ticket.get('signature').value" *ngIf="this.ticket.get('signature').value" height="720" width="1080"></ion-img>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button type="submit" class="ion-float-right">Update Ticket</ion-button>
            <ion-button (click)="addOrder()" class="ion-float-right">Add Item</ion-button>
          </ion-col>
        </ion-row>
        <!-- <pre>{{ this.ticket.value | json }}</pre> -->
      </ion-grid>
    </form>
  </div>
  </ion-content>
