<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New County</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form *ngIf="!edit" [formGroup]="newCounty" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" name="name" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">State</ion-label>
              <ion-select name="state" formControlName="state" interface='popover'>
                <ion-select-option value="Texas">Texas</ion-select-option>
                <ion-select-option value="New Mexico">New Mexico</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Tax</ion-label>
              <ion-input type="number" name="tax" formControlName="tax"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="ion-float-right" type="submit">Submit</ion-button>
            <ion-button class="ion-float-right" (click)="reset()">Reset</ion-button>
            <ion-button class="ion-float-right" (click)="changeMode()">Edit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <form *ngIf="edit" [formGroup]="editCounty" (ngSubmit)="onUpdate()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">County</ion-label>
              <ionic-selectable [canSearch]="true" (onChange)="updateFields()" name="name" formControlName="name" 
              [items]="counties | async" itemValueField="name" itemTextField="name" [shouldStoreItemValue]="true"
              groupValueField="state" groupTextField="state">
                <ng-template ionicSelectableItemTemplate let-county="item" let-isPortSelected="isItemSelected">
                {{county.name}}
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">State</ion-label>
              <ion-select name="state" formControlName="state" interface='popover'>
                <ion-select-option value="Texas">Texas</ion-select-option>
                <ion-select-option value="New Mexico">New Mexico</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Tax</ion-label>
              <ion-input type="number" name="tax" formControlName="tax"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="ion-float-left" color="danger" (click)="delete()">Delete</ion-button>
            <ion-button class="ion-float-right" type="submit">Update</ion-button>
            <ion-button class="ion-float-right" (click)="changeMode()">Add</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
