<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="!edit">Add New Customer</span>
      <span *ngIf="edit">Edit Existing New Customer</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!edit">
    <form [formGroup]="newCustomer" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" name="name" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">State</ion-label>
              <ion-input type="text" name="state" formControlName="state"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Seller</ion-label>
              <ion-input type="text" name="seller" formControlName="seller"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Discount</ion-label>
              <ion-input type="number" name="discount" formControlName="discount"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Tax</ion-label>
              <ion-input type="number" name="tax" formControlName="tax"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-button class="ion-float-right" type="submit">Submit</ion-button>
            <ion-button class="ion-float-right" (click)="reset()">Reset</ion-button>
            <ion-button class="ion-float-right" (click)="changeMode()">Edit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
  <ion-card *ngIf="edit">
    <form [formGroup]="editCustomer" (ngSubmit)="onUpdate()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Customer</ion-label>
              <ionic-selectable [canSearch]="true" (onChange)="updateFields()" name="name" formControlName="name" 
              [items]="customers | async" itemValueField="name" itemTextField="name" [shouldStoreItemValue]="true"
              groupValueField="state" groupTextField="state">
                <ng-template ionicSelectableItemTemplate let-customer="item" let-isPortSelected="isItemSelected">
                {{customer.name}}
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">State</ion-label>
              <ion-input type="text" name="state" formControlName="state"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Seller</ion-label>
              <ion-input type="text" name="seller" formControlName="seller"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Discount</ion-label>
              <ion-input type="number" name="discount" formControlName="discount"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Tax</ion-label>
              <ion-input type="number" name="tax" formControlName="tax"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-button class="ion-float-left" color="danger" (click)="delete()">Delete</ion-button>
            <ion-button class="ion-float-right" type="submit">Update</ion-button>
            <ion-button class="ion-float-right" (click)="changeMode()">Add</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
