<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button slot="start" defaultHref="/viewticket"></ion-back-button>
        </ion-buttons>
        <ion-title>Ticket Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="iosTicket">
  <div *ngIf="isLoaded" id="ticket" class="whiteout">
    <ion-grid class="customer">
      <ion-row>
        <ion-col>
          <img *ngIf="isIOS" class="j2icon" src="assets/images/logo.jpg"/>
          <img *ngIf="isAndroid" class="j2icon" src="https://img1.wsimg.com/isteam/ip/76b3758c-2892-46ef-82bd-095f1bc348be/logo/6a319532-d100-4599-8f60-0d0c46797bb6.jpg/:/rs=h:351/qt=q:95"/>
        </ion-col>
        <ion-col class="address">
          <p><strong>
            2989 S. County Rd West <br/>
            Odessa, Tx 79766 <br/>
            432-331-0189
          </strong></p>
        </ion-col>
        <ion-col class="ticketNumber">
          <ion-row>
            <ion-col>
              <p class="ion-float-left">Ticket #</p>
              <p class="ion-float-right">{{ ticket.ticketNo }}</p>
              <div class="breaker"></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="ion-float-left">AFE#</p>
              <p class="ion-float-right">{{ ticket.afe }}</p>
              <div class="breaker"></div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-padding-end">
          <p class="ion-float-left">Customer</p>
          <p class="ion-float-right">{{ ticket.customer }}</p>
          <div class="breaker"></div>
        </ion-col>
        <ion-col>
            <p class="ion-float-left">Well</p>
            <p class="ion-float-right">{{ ticket.well }}</p>
            <div class="breaker"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-padding-end">
          <p class="ion-float-left">Address</p>
          <p class="ion-float-right">{{ ticket.address }}</p>
          <div class="breaker"></div>
        </ion-col>
        <ion-col>
            <p class="ion-float-left">County</p>
            <p class="ion-float-right">{{ ticket.county }}</p>
            <div class="breaker"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-padding-end">
          <p class="ion-float-left">Field Rep</p>
          <p class="ion-float-right">{{ ticket.fieldrep }}</p>
          <div class="breaker"></div>
        </ion-col>
        <ion-col>
            <p class="ion-float-left">State</p>
            <p class="ion-float-right">{{ ticket.state }}</p>
            <div class="breaker"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-padding-end">
          <p class="ion-float-left">Sold By</p>
          <p class="ion-float-right">{{ ticket.seller }}</p>
          <div class="breaker"></div>
        </ion-col>
        <ion-col>
            <p class="ion-float-left">Date</p>
            <p class="ion-float-right">{{ ticket.date }}</p>
            <div class="breaker"></div>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="ion-padding-end">
          <p class="ion-float-left">Truck No.</p>
          <p class="ion-float-right">{{ ticket.truck }}</p>
          <div class="breaker"></div>
        </ion-col>
        <ion-col>
            <p class="ion-float-left">Trailer No.</p>
            <p class="ion-float-right">{{ ticket.trailer }}</p>
            <div class="breaker"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    <ion-grid class="items">
      <ion-row>
        <ion-col size="2.5">
          <ion-item>
            <ion-label>Qty</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label>Per Unit</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2.5">
          <ion-item>
            <ion-label>Total Cost</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let nefeItem of nefeItems">
        <ion-col size="2.5">
          <ion-item>
            <p>{{ nefeItem.quantity }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <p>{{ nefeItem.item }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <p>{{ nefeItem.perUnit | currency}}</p>
          </ion-item>
        </ion-col>
        <ion-col size="2.5">
          <ion-item>
            <p>{{ nefeItem.cost | currency}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row *ngFor="let additive of additives;">
        <ion-col size="2.5">
          <ion-item>
            <p>{{ additive.quantity }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <p>{{ additive.item }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <p>{{ additive.perUnit | currency}}</p>
          </ion-item>
        </ion-col>
        <ion-col size="2.5">
          <ion-item>
            <p>{{ additive.cost | currency}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let nonNefeItem of nonnefeItems">
        <ion-col size="2.5">
          <ion-item>
            <p>{{ nonNefeItem.quantity }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <p>{{ nonNefeItem.item }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <p>{{ nonNefeItem.perUnit | currency}}</p>
          </ion-item>
        </ion-col>
        <ion-col size="2.5">
          <ion-item>
            <p>{{ nonNefeItem.cost | currency}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row *ngFor="let transport of transports">
        <ion-col size="2.5">
          <ion-item>
            <p>{{ transport.quantity }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <p>{{ transport.item }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <p>{{ transport.perUnit | currency}}</p>
          </ion-item>
        </ion-col>
        <ion-col size="2.5">
          <ion-item>
            <p>{{ transport.cost | currency}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="5.5">
          <ion-item>
            <ion-label position="stacked">Special Directions</ion-label>
            <p>{{ ticket.specialdirections }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label>
              <p>Sub-total</p>
              <div *ngIf="this.discount != 0">
                <p>Discount</p>
              </div>
              <p>Tax</p>
              <H2>Total</H2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label>
              <p><br/></p>
              <div *ngIf="this.discount != 0">
                <p>{{ ticket.discount | percent }}</p>
              </div>
              <p>{{ ticket.tax | percent:'1.4'}}</p>
              <H2><br/></H2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2.5">
          <ion-item>
            <ion-label>
              <p>{{ subtotal + cogTotal | currency }}</p>
              <div *ngIf="this.discount != 0">
                <p>{{ discount | currency }}</p>
              </div>
              <p>{{ tax | currency }}</p>
              <H2>{{ total | currency }}</H2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Directions</ion-label>
            <p>{{ ticket.directions }}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <div #container class="signaturePad">
            <img class="stamp" [src]="sanitizer.bypassSecurityTrustUrl(this.stampURL)" height="720" width="1080" *ngIf="this.stampURL"/>
            <img class="signature" [src]="sanitizer.bypassSecurityTrustUrl(this.sigURL)" height="720" width="1080" *ngIf="this.sigURL !== ''"/>
            <signature-pad *ngIf="ticket.completed == false" [options]="signaturePadOptions" 
                            (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
          </div>
          <div class="signaturePadSettings" *ngIf="ticket.completed == false">
            <ionic-selectable [canSearch]="true" (onChange)="setStamp($event)" name="customer" [items]="stampSet"
                              itemValueField="customer" itemTextField="customer" [(ngModel)]="selectedStamp"></ionic-selectable>
            <ion-button (click)="takePicture()">
              <ion-icon name="camera"></ion-icon>
              <ion-label>&nbsp;New Stamp</ion-label>
            </ion-button>
            <ion-button (click)="clearSignature()">
              <ion-label>&nbsp;Clear Signature</ion-label>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <input accpet="image/jpeg" #filePicker type="file" *ngIf="usePicker" (change)="onFileChosen($event)"/>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    <div *ngIf="ticket.completed == false && isPrinting == false">
      <div *ngIf="!this.ticket.fieldrep">
        <p class="user-prompt" style="color: red;">
          No field rep exists for this ticket. Edit the ticket to add a field rep.
        </p>
      </div>
      <div *ngIf="this.ticket.fieldrep && !this.ticket.email">
        <p class="user-prompt" style="color: red;">
          No email exists for this ticket. Edit the ticket to add a email.
        </p>
      </div>
      <div *ngIf="!this.ticket.completed">
        <p class="user-prompt" style="color: red;">
          Ticket must be completed and emailed to customer before it can be approved.
        </p>
      </div>
    </div>
    <div *ngIf="auth.user$ | async as user;">
      <div *ngIf="!isPrinting">
        <ion-button *ngIf="user.role == 'admin'" class="ion-float-right" (click)="adminCompelte()" [disabled]="!this.ticket.completed">Approve Ticket</ion-button>
        <ion-button (click)="driverComplete()" class="ion-float-right" [disabled]="!this.ticket.email">
          <span *ngIf="user.role == 'driver' || this.ticket.completed == false">
            Complete Ticket    
          </span>
          <span *ngIf="user.role == 'admin' && this.ticket.completed == true">
            Resend Email
          </span>
        </ion-button>
        <ion-button *ngIf="user.role == 'driver'" class="ion-float-right" [routerLink]="['/', 'viewticket', 'view', ticket.ticketNo, 'edit']">Edit</ion-button>
        <ion-button *ngIf="user.role == 'admin'" class="ion-float-right" [routerLink]="['/', 'adminedit',  ticket.ticketNo]">Admin Edit</ion-button>
      </div>
    </div>
  </div>
  <!-- <img [src]="sanitizer.bypassSecurityTrustUrl(this.testimg)" *ngIf="this.testimg"/> -->
</ion-content>