.j2icon {
    margin: auto;
    padding-top: 40px;
    height: 80%;
    width: 80%;
}

.address, .ticketNumber {
    padding-top: 45px;
}

ion-grid {
    display: flex;
    flex-flow: column;
}

.whiteout {
    background-color: white;
}

.breaker {
    clear: both;
    background-color: black;
    border: 1px solid black;
}

.items ion-row ion-col ion-item {
    border: solid black 1px;
    height: 100%;
}

.items ion-row ion-col ion-item p {
    word-break: normal;
    // word-wrap: normal;
}

.signaturePad {
    position: relative;
    width: 23.01rem;
    height: 20rem;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signaturePadSettings {
    position: relative;
    width: 23.01rem;
    height: 5rem;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stamp {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.signature {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

signature-pad {
    position: absolute;
    top: 0;
    left: 0;
}

input[type='file'] {
    display: none;
}

ion-col {
    --ion-grid-column-padding: 0;
}