<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="auth.user$ | async as user;">
      Welcome {{ user.displayName }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="auth.logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="auth.user$ | async as user;">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Main Menu</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size-xs="12" size-md="6">
              <ion-button expand='block' routerLink="/newticket">New Ticket</ion-button>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-button expand='block' routerLink="/viewticket">View Ticket</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="user.role == 'admin' || user.role == 'salesman'">
            <ion-col size-xs="12" size-md="6">
              <ion-button expand='block' routerLink="/newproduct">Add/Edit Products</ion-button>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-button expand='block'routerLink="/newcustomer">Add/Edit Customers</ion-button>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-button expand='block' routerLink="/newvehicle">Add/Edit Vehicles</ion-button>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-button expand='block' routerLink="/newcounty">Add/Edit Counties</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="user.role == 'admin'">
            <ion-col size-xs="12" size-md="6">
              <ion-button expand='block' routerLink="/completetickets">Completed Tickets</ion-button>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-button expand='block' routerLink="/newuser">Add/Edit User</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
